@media screen and (max-width: 600px) {
  .box {
      width: 90%;
      padding: 10px;
  }

  .output {
      width: 90%;
  }

  #search {
      width: 90%;
  }

  .box input {
      font-size: 18px;
  }

  .output ol li {
      font-size: 1rem;
  }

  h1 {
      margin: 20px 0;
  }


  .box input {
      width: 80%;
      height: 30px;
      padding: 5px 10px;
      background-color: #fff;
  }

  .box button {
      width: 20%;
      height: 30px;
      font-size: 0.8rem;
  }
}

@media screen and (min-width: 600px) {
  .box {
      width: 600px;
      padding: 20px;
  }

  .output {
      width: 600px;
  }

  #search {
      width: 300px;
  }

  .box inut {
      font-size: 23px;
  }

  .output ol li {
      font-size: 20px;
  }

  h1 {
      margin: 50px 0;
  }

  #count {
      margin: 50px 0;
  }

  .box input {
      width: 80%;
      height: 50px;
      padding: 5px 20px;
      background-color: #fff;
  }

  .box button {
      width: 20%;
      height: 50px;
      font-size: 20px;
  }
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #393f49;
}

h1 {
  text-align: center;
  color: #fff;
}

.box {
  background-color: #dedede;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 50px;
  width: 50vw;
  margin-bottom: 15px;
}

.box input {
  float: left;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  outline: none;
  background-color: #fff;
}

.box button {
  border: none;
  cursor: pointer;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #62dbfb;
}

#add {
  color: #fff;

}

.box button:focus {
  outline: none;
}


.item-list {

  display: flex;
  justify-content: space-around;
  margin: 10px;
  text-align: center;
  width: 80%;
  padding: 5px 20px;

}

/* ul {
    text-align: left;
    margin-top: 10px;
} */

.listme {
  display: flex;
  justify-content: space-between;
  align-items: center;
	list-style: none;
	padding: 10px 20px;
  color: #ffffff;
  text-align: left;
	text-transform: capitalize;
	font-weight: 600;
	border: 2px solid #025f70;
	border-radius: 5px;
	margin-bottom: 10px;
  background: #4EB9CD;
  width: 50vw;
}

/* .list-task {
  display: flex;
  justify-content: center;
  width: 50vw;
} */

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.delete-btn {
  /* width: 3vw; */
  padding: 10px 20px;
  background-color: #FF5959;
  color: #fff;
}

.edit-btn {
  /* width: 3vw; */
  padding: 10px 20px;
  background-color:  #003A6F;
  color: #fff;
  margin:5px;
}

.error-msg {
  padding-left: 25px;
  padding-top: 10px;
  color: #FF5959;
  font-weight: 700;

}